<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header') -%>
<body>
    <%- include('layouts/navbar') -%>

    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/g2_test.png')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>G2 Test</h1>
                        <span class="subheading">Learn from our mentors for your successful G2 test</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>Please enter your information for booking your g2 test</p>
                    <div class="my-5">
                        <form method="post" action="/saveUserData" id="contactForm" >

                            <fieldset>
                                <legend class="text-center">Personal Information</legend>
                                <div class="row justify-space-between">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- First Name -->
                                        <div class="form-floating">
                                            <input class="form-control" id="firstName" name="firstName" type="text" placeholder="Enter your first name..."/>
                                            <label for="firstName">First Name</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Last Name -->
                                        <div class="form-floating">
                                            <input class="form-control" id="lastName" name="lastName" type="text" placeholder="Enter your last name..."/>
                                            <label for="lastName">Last Name</label>
                                        </div>
                                    </div>
                                </div>                           
                                <!-- License Number -->
                                <div class="form-floating">
                                    <input class="form-control" id="license" name="license" type="text" placeholder="Enter your license number..."/>
                                    <label for="license">License Number</label>
                                </div>
                                <div class="row justify-space-between">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Age-->
                                        <div class="form-floating">
                                            <input class="form-control" id="age" name="age" type="number" placeholder="Enter your age..."/>
                                            <label for="age">Age</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Date of Birth -->
                                        <div class="form-floating">
                                            <input class="form-control" id="dob" name="dob" type="date" placeholder="Enter your date of birth..."/>
                                            <label for="dob">Date of Birth</label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                             
                            <br /><br />

                            <fieldset>
                                <legend class="text-center">Car Information</legend>
                                <div class="row justify-space-between">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Company -->
                                        <div class="form-floating">
                                            <input class="form-control" id="company" name="company" type="text" placeholder="Enter car company..."/>
                                            <label for="company">Company</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Model -->
                                        <div class="form-floating">
                                            <input class="form-control" id="model" name="model" type="text" placeholder="Enter car model..."/>
                                            <label for="model">Model</label>
                                        </div>
                                    </div>
                                </div>      
                                <div class="row justify-space-between">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Year -->
                                        <div class="form-floating">
                                            <input class="form-control" id="year" name="year" type="text" placeholder="Enter car release year..."/>
                                            <label for="year">Year Released</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Plate Number -->
                                        <div class="form-floating">
                                            <input class="form-control" id="plateNumber" name="plateNumber" type="text" placeholder="Enter car plate number..."/>
                                            <label for="plateNumber">Plate number</label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <br />
                            <!-- Submit Button-->
                            <button class="btn btn-primary text-uppercase" id="saveButton" type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('layouts/footer') -%>
    <%- include('layouts/scripts') -%>
</body>
</html>